.App {
  text-align: left;
}
td,
tr,
thead,
tbody,
th {
  padding: 12px;
}
th {
  cursor: pointer;
  background-color: beige;
  border-bottom: 1px solid lightgray;
}
th:hover {
  text-decoration: underline;
}
